{{>header}}
{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Sign Up</h2>
      {{#signup_success}}
        <p style="color: green;">User account created! <a href="/login">Login</a> to access your new account.</p>
      {{/signup_success}}
      {{#signup_error}}
        <p style="color: red;">{{signup_error}}</p>
      {{/signup_error}}
      <form action="/login/attemptsignup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required> <br /> <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required> <br /> <br />
        <input type="submit" value="Sign Up">
      </form>
    </div>
  </div>

  {{>sidebar}}
</div>

{{>footer}}